<section id="avantages">
    <div class="avantage">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus nam ullam vitae doloremque a soluta voluptatum delectus eaque veniam magni id.</p>
    </div>
    <div class="avantage">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus nam ullam vitae doloremque a soluta voluptatum delectus eaque veniam magni id.</p>
    </div>
    <div class="avantage">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus nam ullam vitae doloremque a soluta voluptatum delectus eaque veniam magni id.</p>
    </div>
    <div class="avantage">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus nam ullam vitae doloremque a soluta voluptatum delectus eaque veniam magni id.</p>
    </div>
    <div class="avantage">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus nam ullam vitae doloremque a soluta voluptatum delectus eaque veniam magni id.</p>
    </div>
    <div class="avantage">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus nam ullam vitae doloremque a soluta voluptatum delectus eaque veniam magni id.</p>
    </div>
</section>