<section id="testimonials">
    <div class="testimonial">
        <div>Photo</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, commodi harum, provident, amet saepe neque officia velit impedit pariatur inventore iure omnis quis aliquid eos odio voluptatum odit ducimus ipsam.</p>
    </div>
    <div class="testimonial">
        <div>Photo</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, commodi harum, provident, amet saepe neque officia velit impedit pariatur inventore iure omnis quis aliquid eos odio voluptatum odit ducimus ipsam.</p>
    </div>
</section>